opentelemetry.api
opentelemetry.sdk>=1.27.0
opentelemetry.exporter.otlp.proto.grpc
opentelemetry.exporter.otlp.proto.http
opentelemetry.instrumentation.logging
pyrfc3339
ghapi>=1.1.0,<2.0.0
requests
python-dateutil
